# --------------------( LICENSE                           )--------------------
# Copyright (c) 2014-2021 Beartype authors.
# See "LICENSE" for further details.
#
# --------------------( SYNOPSIS                          )--------------------
# Template with which setuptools generates this project's "MANIFEST" file.

# ....................{ INCLUDE                           }....................
# Include all requisite top-level install-time files.
.mypy.ini
.readthedocs.yml
include LICENSE
include MANIFEST.in
include README.md
include conftest.py
include pytest.ini
include setup.cfg
include setup.py
include tox.ini

# Include all requisite package-level install-time files.
include beartype/py.typed

# ....................{ INCLUDE ~ recursive               }....................
# Include all requisite project-specific test packages.
#
# Note that these packages are *ONLY* required at test time and hence omitted
# from the "packages" key passed to the setup() function by "setup.py". Welcome
# to Setuptools Hell, dear friend.
recursive-include beartype_test *

# Include all optional documentation.
recursive-include doc *

# ....................{ EXCLUDE                           }....................
# Exclude all ignorable cache files.
recursive-exclude * __pycache__
recursive-exclude * *.pyc
recursive-exclude * *.pyo
