# --------------------( LICENSE                            )--------------------
# Copyright (c) 2014-2023 Beartype authors.
# See "LICENSE" for further details.
#
# --------------------( SYNOPSIS                           )--------------------
# Template with which setuptools generates this project's "MANIFEST" file.

# ....................{ TODO                               }....................
#FIXME: Add a new functional test exercising the correctness of this file,
#probably by manually running a shell command resembling:
#    $ python3 setup.py sdist bdist_wheel
#...where "python3" should be replaced by the command invoking the active
#Python interpreter. It's likely that we'll then have to parse the output of
#that command for lines suggestive of syntactic errors in this file. *shrug*

# ....................{ INCLUDE                            }....................
# Include all requisite top-level install-time files.
include .coveragerc
include .readthedocs.yaml
include LICENSE
include MANIFEST.in
include README.rst
include conftest.py
include mypy.ini
include pyproject.toml
include pyrightconfig.json
include pytest.ini
include setup.cfg
include setup.py
include tox.ini

# Include all requisite package-level install-time files.
include beartype/py.typed

# ....................{ INCLUDE ~ recursive                }....................
# Include all requisite project-specific test packages.
#
# Note that these packages are *ONLY* required at test time and hence omitted
# from the "packages" key passed to the setup() function by "setup.py". Welcome
# to Setuptools Hell, dear friend.
recursive-include beartype_test *

# Include all optional documentation.
recursive-include doc *

# ....................{ EXCLUDE                            }....................
# Exclude all ignorable cache files.
recursive-exclude * __pycache__
recursive-exclude * *.pyc
recursive-exclude * *.pyo
